<%- model_class = LostPet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:info) %></th>
      <th><%= model_class.human_attribute_name(:report_date) %></th>
      <th><%= model_class.human_attribute_name(:lost_date) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:found_date) %></th>
      <th><%= model_class.human_attribute_name(:pet_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:district_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lost_pets.each do |lost_pet| %>
      <tr>
        <td><%= link_to lost_pet.id, lost_pet_path(lost_pet) %></td>
        <td><%= lost_pet.status %></td>
        <td><%= lost_pet.info %></td>
        <td><%= lost_pet.report_date %></td>
        <td><%= lost_pet.lost_date %></td>
        <td><%= lost_pet.latitude %></td>
        <td><%= lost_pet.longitude %></td>
        <td><%= lost_pet.found_date %></td>
        <td><%= lost_pet.pet_id %></td>
        <td><%= lost_pet.user_id %></td>
        <td><%= lost_pet.district_id %></td>
        <td><%=l lost_pet.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lost_pet_path(lost_pet), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lost_pet_path(lost_pet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lost_pet_path,
            :class => 'btn btn-primary' %>
